<!-- current_userが作成したTag一覧表示 -->
<div class="">
  <p><%= @nickname %>さんのTag一覧</p>
  <% @tags.each do |tag| %>
    <div style="background-color:<%= tag.color %>">
      <p><%= tag.text_tag %></p>
      <p><%= tag.text_memo %></p>
      <span class="">
      </span>
    </div>
    <li>
  <% end %>
  <div>

  <%= link_to current_user.nickname, edit_user_registration_path %>
</div>