<%= form_with model: @project, local: true do |f| %>
  <div class="">
    <%= f.label :main_title, "【プロジェクト名】" %><br />
    <%= f.text_field :main_title %>
  </div>

  <div class="">
    <%= f.label :start_date, "【開始日】" %><br />
    <%= f.text_area :start_date %>
  </div>

  <div class="">
    <%= f.label :finish_date, "【終了日】" %><br />
    <%= f.text_area :finish_date %>
  </div>

    <div class="">
    <%= f.label :department, "【所属/部署】" %><br />
    <%= f.text_area :department %>
  </div>

  <div class="">
    <%= f.label :category, "【投稿カテゴリー】" %><br />
    <%= f.text_area :category %>
  </div>

  <div class="">
    <%= f.label :project_memo, "【内容】" %><br />
    <%= f.text_area :project_memo %>
  </div>

  <div class="">
    <%= f.label :image, "【プロジェクト関連の画像】" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="">
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>