<!--検索欄 -->
<div class="header2">
  <%= form_with(url: search_tags_path, local: true, method: :get, class: "") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "" %>
    <%= form.submit "検索", class: "" %>
  <% end %>
</div>

<!-- 投稿タグ一覧 -->
<div class="tag-main">
  <p><タグ一覧></p>
  <div class="tag-sub">
    <% @tags.each do |tag| %>
      <div style="background-color:<%= tag.color %>">
        <p>＃<%= link_to tag.text_tag, tag_path(tag.id) %></p>
      </div>
      <p>by.<%= link_to tag.user.nickname, user_path(tag.user.id), method: :get %></p>
    <% end %>
  </div>
</div>

<!-- プロジェクト一覧 -->
<div class="">
  <p><プロジェクト一覧></p>
  <div class="card">
    <% @projects.each do |project| %>
      <div class="card_body">
        <p>【プロジェクト名】: <%= link_to project.main_title, project_path(project.id) %></p>
        <%= link_to image_tag(project.image), class: :img %>
        <p>【開始日】：<%= project.start_date %></p>
        <p>【終了日】：<%= project.finish_date %></p>
        <p>by.<%= link_to project.user.nickname, user_path(project.user.id) %></p>
      </div>
    <% end %>
  </div>
</div>