<!--検索欄 -->
<div class="">
  <%= form_with(url: search_tags_path, local: true, method: :get, class: "") do |form| %>
    <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "" %>
    <%= form.submit "検索", class: "" %>
  <% end %>
</div>

<!-- 投稿タグ一覧 -->
<div class="">
  <p>タグ一覧</p>
  <% @tags.each do |tag| %>
    <div class="tag">
      <div class="" style="">
        <p>＃<%= tag.text_tag %></p>
        <span class="">
        </span>
      </div>
      <a href="/users/<%= tag.user.id %>">
        <span>【投稿者】 </span><%= tag.user.nickname %>
      </a>
      <li>
      <%= link_to '【詳細】', tag_path(tag.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tag.user_id%>
        <li>
          <%= link_to '【編集】', edit_tag_path(tag.id), method: :get %>
        </li>
        <li>
          <%= link_to '【削除】', tag_path(tag.id), method: :delete %>
        </li>
      <% end %>
    </div>
  <% end %>
</div>

<!-- プロジェクト一覧 -->
<div class="card_wrapper">
  <p>プロジェクト一覧</p>
  <div class="card">
    <% @projects.each do |project| %>
      <p>【プロジェクト名】:<%= link_to project.main_title, project_path(project.id) %></p>
      <p>【開始日】：<%= project.start_date %></p>
      <p>【終了日】：<%= project.finish_date %></p>
      <%= link_to image_tag(project.image), class: :img %>
      <p>by.<%= project.user.nickname %></p>
    <% end %>
  </div>
</div>