<div class="main">
  <!--検索欄 -->
  <div class="search">
    <%= form_with(url: search_tags_path, local: true, method: :get, class: "") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグを検索する", class: "" %>
      <%= form.submit "検索" %>
    <% end %>
  </div>
  
  <!-- 投稿タグ一覧 -->
  <div class="tag_wrapper">
    <p class="tag_name" ><新着タグ一覧></p>
    <div class="tag">
      <% @tags.each do |tag| %>
        <div class="tag-card" style="background-color:<%= tag.color %>">
          <p class="tag1-font">  ＃<%= link_to tag.text_tag, tag_path(tag.id) %></p>
          <p class="tag1"><%= tag.text_memo %></p>
          <p class="tag1">by.<%= link_to tag.user.nickname, user_path(tag.user.id), method: :get %></p>
        </div>
      <% end %>
    </div>
  </div>
  
  <!-- プロジェクト一覧 -->
  <div class="project">
    <p class="project_name"><新着プロジェクト一覧></p>
    <div class="card">
      <% @projects.each do |project| %>
        <div class="card_body">
          <p>【プロジェクト名】: <%= link_to project.main_title, project_path(project.id) %></p>
          <p>【カテゴリー】: <%= link_to project.category, project_path(project.id) %></p>
          <%= link_to image_tag(project.image), class: :img %>
          <p>【開始日】：<%= project.start_date %></p>
          <p>【終了日】：<%= project.finish_date %></p>
          <p>by.<%= link_to project.user.nickname, user_path(project.user.id) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>