<div class="">
  <div style="background-color:<%= @tag.color %>">
    <p>＃<%= @tag.text_tag %></p>
    <p>【Memo】<%= @tag.text_memo %></p>
    <p><%= @tag.updated_at %></p>
    <p>by.<%= @tag.user.nickname %></p>
  </div>
</div>