<div class="">
  <ul>
    <li>履歴書などでは表現仕切れない魅力の</li>
    <li>コミュニティ内での横断した情報共有や人材発見</li>
    <li>新規事業やアイデアのブラッシュアップ</li>
  </ul>

</div>

<h2>Log in</h2>
<!-- ログインフォーム -->
<div class="">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="login_email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="login_password">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="login_check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
