<!DOCTYPE html>
<html>
  <head>
    <title>Borderless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <div class="">
        <h1 class=""><a href="/">Borderless</a></h1>
        <div class="">
          <a class="post" href="/tags/new">POST</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <%= link_to "Back", :back %>
      <p>
        Copyright Borderless 2021.
      </p>
    </footer>
  </body>
</html>
