<!DOCTYPE html>
<html>
  <head>
    <title> Borderless</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title">
        <%= link_to 'Borderless', root_path %>
        <p class="sub">自分の好きなこと、経験が誰かのためになる</p>
        <div class="login">
          <!-- ログイン有無の条件分岐 -->
          <% if user_signed_in? %>
            <%= link_to current_user.nickname, user_path(current_user.id), method: :get %>
            <%= link_to '【ログアウト】', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to '【ログイン】', new_user_session_path %>
            <%= link_to '【新規登録】', new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= link_to '【back】', :back %>
      <div class="footer2">
        Copyright Borderless 2021.
      </div>
    </footer>
  </body>
</html>

