<!DOCTYPE html>
<html>
  <head>
    <title> Borderless</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
  
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="title" href="/">Borderless</div>
        <div class="header2">
          <div class="user_in_out">
            <!-- ログイン有無の条件分岐 -->
            <% if user_signed_in? %>
              <%= link_to current_user.nickname, edit_user_registration_path %>
              <%= link_to 'My Tag', user_path(current_user.id), method: :get %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              <%= link_to "New project", new_project_path %>
              <%= link_to "project", projects_path %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path %>
              <%= link_to '新規登録', new_user_registration_path %>
            <% end %>
          </div>
          <div class="">
            <a class="post" href="/tags/new">POST</a>
          </div>
      </div>
    </header>
    <%= yield %>
    <%= link_to 'back', :back %>
    <footer class="footer">
      <div class="footer2">
        Copyright Borderless 2021.
      </div>
    </footer>
  </body>
</html>

